.header {
    background-color: #CBECFF;
    padding-top: 22px;
    position: relative;
    display: flex;
    flex-direction:column;
    height: 645px;
}

.header__lang-links {
    align-self: end;
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding-right: 221px;
    z-index: 1;
}

.header__lang-link {
    display: inline;
    margin-left: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #29374E;
    text-decoration: none;
    transition: opacity .3s ease-in-out;
}

.header__lang-link_active{
    color: #0962E8;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
}

/* .header__finkit-container {
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    margin: 0 238px;
} */

.header__finkit-prew {
    width: 384px;
    padding-left: 209px;
    padding-top: 78px;
}

.header__finkit-label {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    margin: 0;
}

.header__fin {
    font-stretch: extra-condensed;

    margin: 0;
    color: #29374E;
    line-height: 83px;
    margin-right: 3px;
    width: 94px;
}

.header__kit {
    margin: 0;
    line-height: 83px;
    letter-spacing: 0.006em;
    color: #0962E8;
    background-color: #fff;
    border-radius: 20px;
    padding: 0 12px;
    width: 98px;
}

.header__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: #29374E;
    margin-top: 12px;
    margin-bottom: 36px;
    max-width: 353px;
}

.header__button {
    border: none;
    width: 199px;
    height: 52px;
    background-color: #0962E8;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    line-height: 140%;
}

.header__phone-img {
    width: 740.33px;
    height: 684.81px;
    position: absolute;
    top: -8px;
    right: 36px;
    z-index: 0;
}


.description{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 20px;
    margin-top: 197px;
    position: absolute;
    bottom: -40px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
}

.description__content{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    width: 201px;
    height: 66px;
    padding: 22px 20px 30px;
}

.description__text{
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.description__image{
    width: 24px;
    height: 24px;
    padding: 7px;
    background-color: #EFF9FF;
    border-radius: 50%;
}

.de{
    height: 150px;
}